body {
    max-width: 1366px;
    min-width: 400px;
    margin: 0 auto;
}

header {
    height: 50px;
    text-align: center;
}

/* navigation bar */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    transition: width .5s linear;
}

nav a {
    margin: auto 10px;
    text-decoration: none;
    display: block;
    position: relative;
    color: #363636;
    text-transform: uppercase;
}

nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #363636;
    transition: width .5s linear;
}

nav a:hover:after {
    width: 100%;
}

/* Home page */
article {
    height: auto;
    background-image: url(/cv/image/jpg/background-home.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

#home-information {
    height: 768px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#home-information div {
    margin: 200px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-information h1 {
    font-size: 76px ;
    margin: 0 auto;
}

#home-information h4 {
    font-size: x-large ;
    margin: 10px auto;
}

/* all title pages */
.title-page {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about me page */
#about-me {
    text-align: center;
}

#about-me p {
    margin: 15px 5%;
}

#about-me .container {
    background-color: #00BFFF;
}

#contact-me .container {
    background-color: #009ACD;
}

/* resume page */
#resume .container {
    background-color: #00B2EE;
}

.resume section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    left: 0;
    top: 0;
    width: 50%;
    text-align: right;
    margin-right: 2%;
}

.right {
    right: 0;
    top: 0;
    width: 50%;
    text-align: left;
    margin-left: 2%;
}

.resume #resume-education {
    margin-top: 1%;
    flex-direction: row;
    align-items: flex-start;
}

.resume #resume-experience {
    margin-top: 1%;
    margin-bottom: 25px;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.table-content {
    margin: auto 5%;
}

.resume li h4 {
    margin-bottom: 5px;
}

@media screen and (max-width: 1366px) {
    #top_nav {
        height: 50px;
        width: 100%;
        position: fixed;
        background: rgba(200,200,200,0.6);
    }
}

@media screen and (min-width: 1366px) {
    #top_nav ul {
        height: 50px;
        width: 1366px;
        position: fixed;
        background: rgba(200,200,200,0.6);
    }
}

@media screen and (max-width: 777px) {
    h2.left {
        width: 35%;
    }

    h2.right {
        width: 35%;
    }

    ul.left {
        width: 75%;
    }

    ul.right {
        width: 75%;
    }
}

@media screen and (max-width: 555px) {
    .resume section {
        text-align: center;
    }

    #resume .content {
        padding-right: 10px;
        padding-left: 10px;
    }

    #resume-experience ul {
        text-align: center;
    }

    .resume h2 {
        margin-bottom: 0;
    }

    .resume #resume-education {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resume #resume-experience {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resume #resume-experience li {
        text-align: center;
    }

    h2.left {
        width: 100%;
    }

    h2.right {
        width: 100%;
    }

    ul.left {
        width: 100%;
    }

    ul.right {
        width: 100%;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

footer {
    height: 150px;
    background-color: red;
}
